#mainContainerIndex {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  justify-content: space-between;
  margin-top: 160px;
  align-items: center;
  animation: text_slide_animation 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
p,
li {
  font-weight: 300;
}
@keyframes text_slide_animation {
  0% {
    top: 1500px;
    opacity: 0;
  }
  70% {
    top: -10px;
    opacity: 1;
  }
  85% {
    top: 5px;
  }
  100% {
    top: 0;
  }
}

#describe40 {
  flex-basis: 55%;
}

#poster40 {
  flex-basis: 40%;
  box-sizing: border-box;
}

#poster40 img {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#notmobile {
  width: 30%;
  position: relative;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  animation: img_animation 2s ease;
}
@keyframes img_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

li {
  list-style-position: inside;
}

#mainContainerIndex h1,
#mainContainerIndex h3,
#mainContainerIndex p {
  margin-top: 1rem;
}
@media (max-width: 820px) {
  #mainContainerIndex {
    flex-direction: column;
    width: 95%;
  }

  #notmobile {
    width: 60%;
  }
  #poster40 img {
    width: 95%;
  }
}
