#contrastToggle {
  font-size: 1.125rem;
  background-color: transparent;
  border-radius: 8px;
  padding: 8px;
  border: 0;
}
#mainContainerIndex {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  justify-content: space-between;
  margin-top: 160px;
  align-items: center;
  animation: text_slide_animation 1.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}
p,
li {
  font-weight: 300;
}
@keyframes text_slide_animation {
  0% {
    top: 1500px;
    opacity: 0;
  }
  70% {
    top: -10px;
    opacity: 1;
  }
  85% {
    top: 5px;
  }
  100% {
    top: 0;
  }
}

#describe40 {
  flex-basis: 55%;
}

#poster40 {
  flex-basis: 40%;
  box-sizing: border-box;
}

#poster40 img {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
#notmobile {
  width: 50%;
  position: relative;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  animation: img_animation 2s ease;
}
@keyframes img_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#describe40 li {
  list-style-position: inside;
}

#mainContainerIndex h1,
#mainContainerIndex h3,
#mainContainerIndex p {
  margin-top: 1rem;
}
@media (max-width: 820px) {
  #mainContainerIndex {
    flex-direction: column;
    width: 95%;
    margin-left: 12px;
    margin-right: 12px;
  }
  #describe40 p,
  #describe40 li {
    font-size: 14px;
    font-weight: 400;
  }
  #notmobile {
    width: 60%;
  }
  #poster40 img {
    width: 95%;
  }
  .footer_branch_address p {
    font-size: 10px;
  }
}
@media (max-width: 620px) {
  .footer_branch_address p {
    font-size: 14px;
  }
}
