#contrastToggle {
  font-size: 1.125rem;
  background-color: transparent;
  border-radius: 8px;
  padding: 8px;
  border: 0;
}
#describe40 {
  padding-bottom: 160px;
}
.covid_container {
  margin-bottom: 60px;
}

.covid_container li,
.covid_container p {
  margin: 16px 0;
}
#heading_container {
  margin: 24px 0 48px;
  display: flex;
}
#heading_container img {
  padding: 12px;
}
#heading_container h2 {
  margin: 0 0 24px 0;
  color: rgba(0, 162, 172, 1);
}
#notmobile {
  top: 0;
  left: 0;
  transform: translateX(0);
  width: 40%;
  margin: 0 24px 0 0;
}
@media (max-width: 910px) {
  h1 {
    font-size: 24px;
  }
  #heading_container {
    flex-direction: column;
  }
  #notmobile {
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 48px;
  }
}
@media (max-width: 620px) {
  #notmobile {
    width: 80%;
  }
  #heading_container {
    margin: 24px 0 12px;
  }
  #heading_container h2 {
    font-size: 20px;
  }
}
