#main_container_lab {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 180px 8px 0;
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  background-image: url("../Pictures/laboratory.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1100px;
}
