* {
  font-family: Poppins;
}

#main_container_lab {
  /* display: flex; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 180px 8px 0;
  min-height: 89vh;
  width: 100vw;
  /* text-align: center; */
  /* justify-content: center; */
  max-width: 1100px;
}
#diag_info h4 a,
#diag_info p a,
#korlab_info p a {
  color: rgb(43, 159, 167);
  font-weight: 500;
  font-size: 16px;
}

#labdescr {
  width: 100%;
  /* height: 3000px; */
}
#diagnostyka,
#korlab {
  display: flex;
  flex-direction: column;
}
#korlab {
  margin: 92px 0;
  align-items: flex-end;
}
#korlab h2 {
  align-self: flex-start;
}
#korlab_logo,
#diag_logo {
  display: flex;
  width: 100%;
}
.lab_hours {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#diag_info,
#korlab_info {
  width: 100%;
}
#diag_info p,
#korlab_info p {
  margin: 16px 0;
}
#korlab_logo img,
#diag_logo img {
  width: 50%;
  animation: img_animation 2s ease;
}
@keyframes img_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#diag_info h3 a,
#korlab_info h3 a {
  color: rgb(43, 159, 167);
  font-weight: 600;
}

/* h2,
h4 {
  margin-top: 2rem;
} */

@media (max-width: 880px) {
  #main_container_lab {
    display: flex;
    flex-direction: column;
  }
  #korlab_logo img,
  #diag_logo img {
    width: 40%;
  }
  .lab_hours {
    width: 60%;
  }
  #diag_info,
  #korlab_info {
    font-size: 14px;
  }
  #diag_info p a,
  #korlab_info p a {
    color: rgb(43, 159, 167);
    font-weight: 500;
    font-size: 14px;
  }
  .lab_hours h3,
  .lab_hours p {
    font-size: 14px;
  }
}
@media (max-width: 620px) {
  #main_container_lab {
    padding: 160px 8px;
  }
  #diag_logo,
  #korlab_logo {
    flex-direction: column;
    align-items: center;
  }
  #diag_logo img,
  #korlab_logo img {
    width: 100%;
  }
  .lab_hours {
    width: 100%;
    margin-bottom: 16px;
  }
  .lab_hours h3 {
    font-size: 14px;
  }
}
