#mainContainerIndex {
  display: flex;
  /* flex-direction: row; */
  max-width: 1100px;
  justify-content: space-between;
  margin-top: 160px;
  margin-bottom: 100px;
}

#poster40 img {
  width: 50%;
  height: auto;
  display: flex;
  transform: translate(50%);
}

#notdesktop {
  display: none;
}
#describeOP h4 {
  margin: 16px 0;
}
li {
  list-style-position: inside;
}

#mainContainerIndex h1,
#mainContainerIndex h3,
#mainContainerIndex p {
  margin-top: 1rem;
}
@media (max-width: 820px) {
  #mainContainerIndex {
    width: 95%;
  }

  #notdesktop {
    display: block;
  }

  #mainContainerIndex #notmobile {
    display: none;
  }
}
