* {
  font-family: "Poppins";
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.addressInfos {
  margin-left: 20px; /* Opcjonalne odstępy po lewej stronie */
}

.logoQ {
  width: 100px;
  height: auto;
}
.nfz_logo {
  width: 150px;
  height: auto;
}
#mainContainer {
  position: absolute;
  display: flex;
  height: 100vh; /* Full viewport height */
  top: 0;
  padding-top: 380px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.cert {
  width: 50rem;
  height: auto;
}

.iso {
  width: 30rem;
  height: auto;
}
.acc2 {
  font-size: 16px;
  font-weight: 300;
  color: black;
  background-color: transparent;
  cursor: pointer;
  /* padding: 18px; */

  margin: 4px 0;
  /* box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 20px 40px rgba(0, 0, 0, 0.1); */
  width: 33%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.2s;
}
.acc2:hover {
  color: rgba(0, 162, 172, 1);
}
/* #poradnie_spec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.5, 0, 0.5, 1);
} */

.acc {
  background: linear-gradient(
    90deg,
    rgba(0, 162, 172, 1) 0%,
    rgba(0, 88, 156, 1) 100%
  );
  font-size: 18px;
  font-weight: 200;
  color: white;
  cursor: pointer;
  padding: 18px;
  margin: 4px 0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 20px 40px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 2s;
}
.partners {
  width: 200px;
  height: auto;
}
.partners_images {
  /* position: relative; */
}
.partners_images img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#doctors_paragraph {
  display: block;
  width: 100%;
  height: 64px;
  margin-top: 32px;
}
#doctors_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.doctor_info {
  flex: 1;
}
#schedule {
  width: 100%;
  min-height: 180px;
  display: flex;
  flex-direction: row;
}
.days,
.hours {
  width: 50%;
}
.doctor_info h3 {
  display: block;
  height: 64px;
}
.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.panel2 {
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0 18px;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.panel h3,
.panel h4 {
  margin: 24px 0;
}
.div_margin {
  margin: 30px 0;
}
.paragraph_margin {
  margin: 20px 0;
}
.paragraph_hours {
  margin: 10px 0;
}
.acc:after {
  content: "\25BC";
  font-size: 8px;
  color: white;
  float: right;
  margin: 8px 0 0 5px;
}

.certificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.mainView {
  margin: 160px 0 20px 0;
}

.infos {
  width: 100%;
  padding: 1rem;
  height: 200px;
  text-align: center;
}
.infos h2,
.infos h3,
.infos h4 {
  font-weight: 300;
}
.infos h2,
.infos h3 {
  margin: 12px 0;
}
.bTable {
  text-align: center;
}

.headTable {
  font-size: 1.25rem;
}
#footer {
  margin: 24px 0 0 0;
}

@media only screen and (max-width: 600px) {
  .headTable {
    font-size: 1rem;
  }
}

table {
  border-collapse: collapse;
  font-size: 1rem;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #00a4ac2d;
  /* background-color: #f2f2f2; */
}
.certificates {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 50px 0;
}
#iso,
#cert {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 20px 40px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#iso:hover,
#cert:hover {
  opacity: 0.7;
}
@media (max-width: 430px) {
  #logo {
    /* display: none; */
    position: relative;
    /* left: 10px; */
    /* top: 20px; */
    width: 16%;
  }
  #poradnie_spec {
    display: flex;
    justify-content: space-between;
  }
  .acc2 {
    width: 100%;
  }
  .mainView {
    margin: 110px 0 20px 0;
  }
  .infos {
    flex-direction: column;
    width: 100%;
  }
  #logos {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .nfz_logo {
    width: 100px;
  }
  .logoQ {
    width: 40px;
  }
  .infos h2 {
    font-size: 16px;
    margin: 8px;
  }
  .infos h3 {
    font-size: 14px;
    margin: 4px;
  }
  .infos h4 {
    font-size: 12px;
  }
  .infos h2 {
    font-size: 14px;
  }
  .panel button {
    padding: 0 12px;
  }
  #doctors_list {
    flex-direction: column;
    margin: 0 48px;
  }
  #doctors_paragraph {
    margin-left: 42px;
  }
  #doctors_list p {
    font-size: 14px;
  }
  #schedule {
    min-height: 120px;
  }
  .div_margin {
    margin: 0 16px;
  }
}
@media only screen and (max-width: 830px) {
  .infos {
    flex-direction: column;
    padding: 0;
    height: auto;
  }
  img.logoQ {
    display: none;
  }
  .infos h2 {
    font-size: 18px;
  }
  .infos h3 {
    font-size: 14px;
  }
  .infos h4,
  p {
    font-size: 14px;
  }
  .panel {
    padding: 0;
  }
  .panel ul li {
    font-size: 14px;
  }
  #doctors_container {
    width: 100%;
  }
  .doctor_info {
    flex: 1;
  }
  .doctor_info h3 {
    font-size: 13px;
  }
  .doctor_info p {
    font-size: 12px;
  }
}
@media (max-width: 620px) {
  #top-navbar {
    padding: 0;
    max-width: 100vw;
  }
  #navbar_content {
    width: 100%;
    height: 110px;
  }
  #logo img {
    /* display: none; */
    position: relative;
    left: 10px;
    top: 20px;
    height: 50px;
  }
  #poradnie_desktop {
    display: none;
  }
  #poradnie_mobile {
    display: inline;
  }
  #main_menu {
    position: static;
    margin-top: 34px;
    top: 30px;
    right: 0;
    width: 75%;
    max-width: 100vw;
  }

  #male_menu {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    height: 40px;
    margin: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 162, 172, 1) 0%,
      rgba(0, 88, 156, 1) 100%
    );
  }
  a.contact_links {
    padding: 0;
  }
  /* #top_menu {
    display: flex;
    background-color: bisque;
  } */
  #menuElements {
    position: relative;
    justify-content: space-between;
    top: 10px;
    height: 60px;
    align-items: center;
    background-color: white;
    display: none;
    width: 75vw;
  }
  /* flex-direction: column; */
  /* }akjsldfhakljsdhfakljshdflkajsdhfkjlashdfklajshdflkajshdf */ /* nowenowenwnowenowenowne */

  /* Stylowanie menu hamburger z trzema kreskami */
  nav {
    display: block;
  }
  .menu-btn {
    position: absolute;
    top: 62px;
    right: 10px;
    cursor: pointer;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
  }

  .menu-btn__burger {
    width: 100%;
    height: 3px;
    background-color: rgb(3, 162, 172);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .menu-btn.open .menu-btn__burger {
    background-color: rgb(3, 162, 172);
  }

  .menu-btn.open .menu-btn__burger:nth-child(1) {
    transform: translateY(10px) rotate(45deg); /* Górna kreska w prawo */
    opacity: 1; /* Pełna widoczność */
  }

  .menu-btn.open .menu-btn__burger:nth-child(2) {
    opacity: 0; /* Środkowa kreska znika */
  }

  .menu-btn.open .menu-btn__burger:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg); /* Dolna kreska w lewo */
    opacity: 1; /* Pełna widoczność */
  }

  /* Dodatkowe elementy (kreski) */
  .menu-btn__burger + .menu-btn__burger,
  .menu-btn__burger + .menu-btn__burger + .menu-btn__burger {
    margin-top: 5px;
  }

  /* Wygląd nawigacji */
  .nav-menu {
    list-style: none;
    position: fixed;
    top: 110px;
    right: -100%;
    height: 50px;
    width: 100%;
    background-color: #333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: right 0.3s ease-in-out;
    z-index: 2;
  }

  .nav-menu li {
    /* Stylowanie elementów menu */
  }

  .nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 12px;
  }

  .nav-menu.activeH {
    right: 0;
  }

  /* Stylowanie rozwijanych list */
  .dropdown {
    position: relative;
    transition: top 0.3s ease;
  }
  .dropdown .dropdown-btn {
    background-color: #333;
    border: none;
    color: white;
    font-size: 12px;
    font-family: "poppins";
    font-weight: 300;
  }
  /* Stylowanie rozwijanych list */
  .dropdown-content {
    position: fixed;
    top: 150px;
    left: 0;
    width: 100vw;
    background-color: rgba(0, 162, 172, 1);
    z-index: 9999;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: 0; /* Ukrywanie zawartości */
    overflow: hidden; /* Ukrywanie zawartości, gdy jest zwinięta */
    transition: all 0.5s ease-in-out; /* Animacja rozwijania */
  }

  /* Użyj klasy .show do rozwinięcia */
  .dropdown:hover .dropdown-content {
    display: block; /* Umożliwia animację rozwijania */
  }

  .dropdown-btn {
    cursor: pointer;
  }
  .infos {
    margin-top: 50px;
  }

  #mainContainerIndex {
    width: 100vw;
  }
  #characterAndSlogan {
    top: 110px;
    height: 45vh;
    background-position: center;
    width: 100vw;
  }
  #characterAndSlogan p {
    font-size: 16px;
    top: 50%;
  }
  .info-banner {
    /* left: -20px; */
    width: 100vw;
    margin-top: 0;
  }
  #contact-container {
    display: none;
  }
  .info-banner h3.visible {
    width: 80%;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 24px;
  }
  .info-banner p.visible {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }
  #bottom-menu {
    flex-direction: column;
    width: 100vw;
  }
  #bottom-menu h2 {
    font-size: 20px;
  }
  .bottom-menu-tabs {
    width: 100vw;
  }
  .bottom-menu-tab-picture {
    width: 150px;
    height: 150px;
    margin: 16px auto 36px;
  }
  .carousel-container {
    /* width: 100vw; */
    height: auto;
  }

  #branches {
    width: 100vw;
    height: 850px;
  }
  #branch1,
  #branch2,
  #branch3,
  #branch4 {
    top: 16%;
    height: 240px;
    width: 90%;
  }
  iframe {
    height: 110px;
    width: 90%;
    margin-top: 8px;
  }
  #branch1 p a,
  #branch2 p a,
  #branch3 p a,
  #branch4 p a {
    font-size: 12px;
  }
  .branch_name {
    font-size: 20px;
    font-weight: 400;
  }
  #aktualnosci {
    display: none;
  }

  .contactBar .contact_links {
    font-size: 12px;
  }
  #characterAndSlogan p {
    font-size: 20px;
    top: 25%;
  }
  .branch_name {
    color: rgba(0, 162, 172, 0.8);
    margin: 16px 0 4px 0;
  }
  #branch1 h3,
  #branch2 h3,
  #branch3 h3 {
    margin-bottom: 0;
  }

  #branch1 p,
  #branch2 p,
  #branch3 p {
    margin: 0 0;
  }

  #branch1 p a,
  #branch2 p a,
  #branch3 p a {
    font-size: 12px;
    font-weight: 300;
    padding: 0;
    font-family: "Poppins";
  }
  #footer {
    height: 100%;
    background-color: rgb(43, 159, 167);
  }
  #footer_content {
    display: flex;
    flex-wrap: wrap;
    color: rgb(56, 56, 56);
  }
  #footer_info a {
    color: rgb(56, 56, 56);
    font-size: 12px;
  }

  #footer_contact {
    flex-wrap: wrap;
    font-size: 12px;
    min-width: 80vw;
  }
  .footer_branch_address {
    flex: 1;
    min-width: 50%;
    margin: 12px 0;
  }
  #footer_logo {
    display: none;
  }
  #footer_line {
    border-bottom: 0.5px solid rgb(222, 222, 222);
  }
  #footer_end {
    margin-right: 12px;
    font-size: 10px;
    color: rgb(56, 56, 56);
  }
  .bottom_menu_buttons {
    width: 100vw;
    /* height: auto; */
    border: none;
  }
}
